<!doctype html>
<html>
<head>
	<title>SimpleChat</title>
	<script>const FLASK_STATIC_JS_URL = "{{ url_for('static', filename='js/') }}";</script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/Interface.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Interface.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/icon_theme_tweaks.css') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="main">
	<div class="sidebar">
		<button class="button sidebar-button new-chat"><div class="icon-simplechat new-chat-icon"></div><span class="button-text">New Chat</span></button>
		<p class="conv-list-title">Conversations:</p>
		<div class="list conversation-list">
			{% for conversation in conversations%}
			<button onclick="open_conversation(&quot;{{ conversation.id }}&quot;)" class="button sidebar-button conversation"><div class="icon-simplechat conversation-icon"></div><span class="button-text">{{ conversation.name }}</span></button>
			{% endfor %}
		</div>
	</div>
	<div class="chat-content">
		<div class="conversation-options">
			<div class="model-dropdown">
				<button onclick="model_dropdown_clicked()" class="button dropdown-button model-dropdown">
					<div class="icon-simplechat model-icon"></div>
					<span class="button-text">Model Name</span>
					<div class="icon-simplechat dropdown-icon"></div>
				</button>
				<div class="list dropdown-content model-list" id="model-dropdown-list">
					<button class="button transparent-button model" onclick="model_select(&quot;my-model&quot;)">My model</button>
					<button class="button transparent-button model" onclick="model_select(&quot;my-model&quot;)">My model</button>
					<button class="button transparent-button model" onclick="model_select(&quot;my-model&quot;)">My model</button>
					<button class="button transparent-button model" onclick="model_select(&quot;my-model&quot;)">My model</button>
					<button class="button transparent-button model" onclick="model_select(&quot;my-model&quot;)">My model</button>
					<button class="button transparent-button model" onclick="model_select(&quot;my-model&quot;)">My model</button>
					<button class="button transparent-button model" onclick="model_select(&quot;my-model&quot;)">My model</button>
					<button class="button transparent-button model" onclick="model_select(&quot;my-model&quot;)">My model</button>
					<button class="button transparent-button model" onclick="model_select(&quot;my-model&quot;)">My model</button>
					<button class="button transparent-button model" onclick="model_select(&quot;my-model&quot;)">My model</button>
					<button class="button transparent-button model" onclick="model_select(&quot;my-model&quot;)">My model</button>
					<button class="button transparent-button model" onclick="model_select(&quot;my-model&quot;)">My model</button>
					<button class="button transparent-button model" onclick="model_select(&quot;my-model&quot;)">My model</button>
					<button class="button transparent-button model" onclick="model_select(&quot;my-model&quot;)">My model</button>
					<button class="button transparent-button model" onclick="model_select(&quot;my-model&quot;)">My model</button>
					<button class="button transparent-button model" onclick="model_select(&quot;my-model&quot;)">My model</button>
					<button class="button transparent-button model" onclick="model_select(&quot;my-model&quot;)">My model</button>
					<button class="button transparent-button model" onclick="model_select(&quot;my-model&quot;)">My model</button>
					<button class="button transparent-button model" onclick="model_select(&quot;my-model&quot;)">My model</button>
					<button class="button transparent-button model" onclick="model_select(&quot;my-model&quot;)">My model</button>
				</div>
			</div>
		</div>
		<div class="conversation-content">
			<div class="message message-user">
				<div class="message-heading message-user"><span class="role-heading">User</span><div class="icon-simplechat user-icon role-icon"></div></div>
				<div class="message-content message-user"><span>What's your favorite food?</span></div>
			</div>
			<div class="message message-assistant">
				<div class="message-heading message-assistant"><div class="icon-simplechat assistant-icon model-icon role-icon"></div><span class="role-heading">AI</span></div>
				<div class="message-content message-assistant"><span>My favorite food is pizza.</span></div>
			</div>
		</div>
		<div class="conversation-interact">
			<div class="input-area">
				<div class="textbox">
					<textarea class="prompt-input"></textarea>
					<button class="prompt-button"><div class="icon-simplechat prompt-button-icon"></div></button>
				</div>
				<div class="input-additions">
					<div class="mcp-dropdown">
						<div class="list dropdown-content mcp-list" id="mcp-list">
							<button class="button transparent-button mcp-tool" onclick="select_mcp(&quot;exa&quot;)">Exa</button>
							<button class="button transparent-button mcp-tool" onclick="select_mcp(&quot;ddg&quot;)">DuckDuckGo</button>
							<button class="button transparent-button mcp-tool" onclick="select_mcp(&quot;tavily&quot;)">Tavily Search</button>
							<button class="button transparent-button mcp-tool" onclick="select_mcp(&quot;parallel-search&quot;)">Parallel Search</button>
						</div>
						<button class="button dropdown-button mcp-dropdown" onclick="mcp_tools_clicked()"><img class="icon-simplechat mcp-icon" src="{{ url_for('static', filename='assets/mcp.svg') }}" loading="lazy" /><span class="button-text">MCP Servers</span></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
